= form_tag "/", id: "personal-info" do
  = text_field_tag "First Name", "",  placeholder: "First Name"
  = text_field_tag "Last Name", "",  placeholder: "Last Name"
  = text_field_tag "Email", "",  placeholder: "Email"
  = submit_tag "Submit"


#display
