<!DOCTYPE html>
<html>
<head>
  <title>JqueryDrills</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>

  <div class="container">
    <nav class="nav nav-bar">
      <%= link_to "Home", root_path %>
      |
      <%= link_to "Animation", animations_path %>
      |
      <%= link_to "Coffee Script", coffee_path %>
    </nav>
    <br>
    <br>
    <%= yield %>
  </div>

</body>
</html>
