<!DOCTYPE html>
<html>
<head>
  <title>JqueryDrills</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
  
  <%= link_to "Home", root_path %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
